body[data-lagom-is-presentation-window="true"] {

  iframe[name="lagom_next_slide"] {
    opacity: 0.7;
    position: fixed;
    top: 5px;
    right: 5px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transform: scale(0.33);
    transform-origin: top right;
    background: white;
    border: 5px solid black;
    transition: all 250ms;

    &:hover {
      cursor: alias;
      transform: scale(0.66);
      opacity: 1;
    }
  }

  aside#lagom_comments {
    opacity: 1;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    font-size: 1rem;
    text-align: center;
    background: white;
    padding: 1rem 2rem;

    &:empty {
      opacity: 0;
    }
  }
}
