html, body {
  background: white;
  color: black;
  display: flex;
  font-family: Menlo !important;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100vw;
  overflow: hidden;
  flex-direction: column;
}

left {
  text-align: left;
}

right {
  text-align: right;
}


::selection {
  color: white;
  background: black;
}