html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

body {
  background: white;
  color: black;
  font-family: Menlo !important;
  font-size: 20px;
  width: 100vw;
}

left {
  text-align: left;
}

right {
  text-align: right;
}


::selection {
  color: white;
  background: black;
}