@import "elements";
@import "typography";

@import "components/header";
@import "components/progress";
@import "components/slide";
@import "components/transition";
@import "components/mouse-pointer";

@import "components/presentation-window";

@import "elements/img";
@import "elements/code";
@import "elements/iframe";

@import "vendor/highlight";

@media print {
  body {
    height: auto;
    overflow: scroll;
  }

  section {
    opacity: 1;
    height: 100vh;
  }

  span[id=lagom-mousepointer] {
    display: none;
  }
}
